# Project specific files
/tmp/
/data/
.ipynb_checkpoints/
/temp_dir
/src/files/ptm-mamba-main/*
!/src/files/ptm-mamba-main/infer_1433.py
/results_chuck/
/anaconda_projects/
/.virtual_documents/
/results/
/assembly_clustered/
/temp/
/morf_predictions/
/clinvar_full_sequence_output/
/clinvar_full_sequence_output_smoketest/
/clinvar_smoke_test_output/
/clinvar_smoke_test_output_v2/

# Virtualenv
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Windows
Thumbs.db

# Other version control
.svn/
.hg/
.bzr/
